type project
include-pdbs true
interproject-references keep-major
authors Anatoliy Koperin, Pavel Laptov
licenseUrl https://github.com/ExM/NMoney/raw/master/LICENSE
projectUrl https://github.com/ExM/NMoney
iconUrl https://raw.github.com/ExM/NMoney/master/doc/Finance-Currency-icon.png
description
  Bson serialization and MongoDB query rendering for NMoney
tags money currencies ISO4217 Bson Mongo MongoDB
